@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "func";
@import "vars";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body {
  width: 100%;
  height: 85%;
}

body {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.calculator {
  @include flexCenter(flex, center, center, unset);
  @include percentage(0%, 30%);
  margin-top: 11.3%;
  &-inner {
    @include flexCenter(flex, center, center, column);
    @include percentage(0%, 0%);
    @include boxShadow(0 0 25px rgba(0, 0, 0, 0.9));
    @include borderRadius(5px);
    background: rgba(0, 0, 0, 0.8);
  }
  &-upper {
    @include flexCenter(flex, center, center, unset);
    @include percentage(0%, 75%);
    padding-top: 5%;
    &-screen {
      @include percentage(10%, 0);
      @include borderRadius(5px);
      background: $calculatorScreen;
      position: relative;
      &-first {
        position: absolute;
        font-family: $fontName;
        font-weight: map-get($font-weights, medium);
        font-size: map-get($font-size, small);
        color: $textColor;
        left: 2%;
        top: 2%;
      }
      &-second {
        @include flexCenter(flex, flex-start, center, unset);
        font-family: $fontName;
        font-weight: map-get($font-weights, medium);
        font-size: map-get($font-size, medium);
        color: $textColor;
        padding-left: 1.7rem;
        width: 100%;
        height: 100%;
      }
      &-sign {
        position: absolute;
        font-family: $fontName;
        font-weight: map-get($font-weights, bold);
        font-size: map-get($font-size, big);
        color: $textColor;
        right: 3%;
        top: 0%;
      }
    }
  }
  &-down {
    @include percentage(10%, 25%);
    &-controller {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 5rem 0.5rem;
      place-items: center;
      padding-top: 10%;

      & span,
      & i {
        @include borderRadius(5px);
        text-transform: uppercase;
        font-weight: map-get($font-weights, bold);
        font-size: map-get($font-size, medium);
        color: $buttonColor;
        cursor: pointer;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 1rem;
        padding-bottom: 3rem;
      }
      & span {
        font-family: $fontName2;
      }

      & div {
        position: relative;
        width: 100%;
        height: 100%;
        & .ballance {
          padding-top: 0.6rem;
          padding-bottom: 3.4rem;
        }
        & .fa-backspace {
          padding-top: 0.95rem;
          padding-bottom: 3.05rem;
          padding-right: 0.2rem;
        }
        & .number {
          @include background($buttonColor, $textColor);
          &:hover {
            @include background($textColor, $buttonColor);
          }
        }
        & .switch {
          @include background($offOnBackground, $buttonColor);
          &:hover {
            @include background($buttonColor, $offOnBackground);
          }
        }
        & .g_back {
          @include background($operationBtnBackground, $buttonColor);
          &:hover {
            @include background($buttonColor, $operationBtnBackground);
          }
        }
        & .or_back {
          @include background($clrDelEqual, $buttonColor);
          &:hover {
            @include background($buttonColor, $clrDelEqual);
          }
        }
        & .r_back {
          background: transparent;
          border: none;
          cursor: unset;
          color: $powerBackground;
        }
        & .r_backOn {
          color: rgb(0, 255, 0);
        }
      }
      & .superscriptBorder {
        position: relative;
        width: 100%;
        height: 100%;
        & .border {
          position: absolute;
          background-color: $operationBtnBackground;
          padding: 2rem;
          cursor: pointer;
          @include borderRadius(5px);
          @include transition;
          &:hover {
            background-color: $buttonColor;
            @include transition;
            & .superscript {
              background-image: url("images/superscript1.png");
              @include transition;
            }
          }
          & .superscript {
            background-image: url("images/superscript.png");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            background-color: transparent;
            top: 16%;
            left: 25%;
            width: 2.7rem;
            height: 2.7rem;
            @include transition;
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  min-height: 38rem;
  max-width: 450px;
}

.plus-minus {
  font-family: $fontName2;
  font-weight: map-get($font-weights, regular);
  font-size: map-get($font-size, smaller);
}

switch,
.clear,
.delete,
.number {
  padding-top: 0.6rem;
  padding-bottom: 3.4rem;
}

.rootSign {
  position: absolute;
  top: 34%;
  left: 1%;
  font-size: 2rem;
  color: $textColor;
  &::before {
    content: "\f697";
  }
  &::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.39rem;
    top: 0%;
    left: 99%;
    background: $textColor;
  }
}

.raiseToPower {
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: $fontName2;
  font-weight: map-get($font-weights, bold);
  font-size: map-get($font-size, small);
  &::before {
    content: "2";
  }
}

.absSign {
  //display: none;
  position: absolute;
  top: 25%;
  left: 2%;
  font-size: map-get($font-size, big);
  font-weight: map-get($font-weights, medium);
  &::after {
    content: "-";
  }
}
