$calculatorScreen: #ffd200;
$offOnBackground: #8e0e00;
$powerBackground: #f83600;
$clrDelEqual: #ff3c00;
$operationBtnBackground: #424242;
$textColor: #000000;
$buttonColor: #ffffff;
$fontName: "Roboto", sans-serif;
$fontName2: "Open Sans", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$font-size: (
  "smaller": 1.2rem,
  "small": 1.5rem,
  "medium": 2rem,
  "big": 3rem,
);
